<ul>
  <li class="stats" id="backers">
    <%= number_with_delimiter Order.backers, :delimiter => "," %>
    <span><%= Settings.primary_stat %></span>
  </li>
  <li class="stats">
    <%= number_to_currency Order.revenue, :precision => 0 %>
    <span>of <%= number_to_currency Settings.project_goal.to_f, :precision => 0 %></span>
  </li>

  <% if Settings.expiration_date.present? and Settings.expiration_date > DateTime.now %>
    <li class="stats" id="days">
      <%= time_ago_in_words_days_max(Settings.expiration_date).gsub(/\D/, "") %>
      <span><%= time_ago_in_words_days_max(Settings.expiration_date).gsub(/\d/, "").gsub("about", "") %> left</span>
    </li>
  <% else %>
    <li class="stats" id="days">
        &infin;
        <span>gratitude</span>
      </li>
  <% end %>
</ul>

<% if Order.revenue.to_f < Order.goal.to_f %>
<div id='progress_bg' class='small'>
  <div id='progress' class='' style='width: <%= Order.percent %>%;'>
  </div>
</div>
<% else %>
<div id="progress_bg">
  <div id="progress">
  </div>
  <div id='progress_text'><%= Order.percent %>% <%= Settings.progress_text %></div>
</div>
<% end %>
